*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    overflow-x: hidden;
}
nav{
    height: 80px;
    background: #fa983a;
    display: flex;
    justify-content: space-between;
    padding: 30px 50px 0px 100px;
    z-index: 10;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin: 0 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 8px 10px;
    border-radius: 10px;
    transition: all 0.3s ease;
}
nav ul li a:hover{
    background:#e58e26 ;
    color: red;
    
}
.main{
    background:#e58e26; 
}
nav .menu_button i{
    color: white;
    font-size: 22px;
    cursor: pointer;
    display: none;
}
.reveal{
    position: relative;
    transform: translatex(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translatex(0);
    opacity: 1;
  }
.logo{
    float: left;
    width: 25%;
    height: 233%;
    margin-top: -33px;
}
#click{
    display: none;
}
@media(max-width: 940px){
    nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background:#fa983a;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.3s ease;
    }
    nav .menu_button i{
        display: block;
    }
    #click:checked ~ ul{
        left: 0;
    }
    nav ul li{
        margin: 40px 0;
    }
    nav ul li a{
        font-size: 20px;
        display: block;
    }
    nav ul li a:hover,
    nav ul li a.main{
        color: red;
        background: none;
    }
}
.video_trailer{
    width: 90%;
    justify-content: center;
    padding-left: 10%;
    height: 100%;
    padding-top: 5%;
}
.intro, .para1{
    color: white;
    font-family: 'Merriweather', serif;
    padding-top: 70px;
    padding-left: 30px ;
    padding-right: 50px;
    font-size: 125%;
}
.para2, .para3{
    padding-top: 30px;
}
.img_para1{
    float: right;
    height: 40%;
    width: 40%;
    padding-left: 20px;
    padding-bottom: 52px;
}
.para3{
    padding-bottom: 20px;
}
.heading{
    text-transform: uppercase;
    color: white;
    font-size: 500%;
    padding-left: 30px;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 700;
    padding-top: 200px;
}
.content{
    color: white;
    font-family: 'Merriweather', serif;
    padding-top: 40px;
    padding-left: 30px ;
    padding-right: 50px;
    font-size: 100%;
}
.list{
    display: block;
}
.end{
    padding-bottom: 30px;
}